.profile__image {
	position: relative;
	width: 120px;
	height: 120px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-image: url("../../../images/avatar.jpg");
	background-size: cover;
	background-position: center;
	margin: 0 29px 0 0;
}

.profile__image::before {
	content: "";
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
	transition: opacity 0.2s ease;
}

.profile__image::after {
	content: "";
	position: absolute;
	inset: 0;
	background-image: url("../../../images/edit-icon.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 26px 26px;
	opacity: 0;
	transition: opacity 0.2s ease;
	cursor: pointer;
}

.profile__image:hover::before,
.profile__image:hover::after {
	opacity: 1;
}

@media screen and (max-width: 740px) {
	.profile__image {
		margin: 0 10px 0 0;
	}
}

@media screen and (max-width: 480px) {
	.profile__image {
		margin-right: 0;
	}
}
