.popup__input {
	width: 100%;
	height: 40px;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 14px;
	line-height: 18px;
	box-sizing: border-box;
}

.popup__input_type_error {
	border-bottom: 1px solid #ff0000;
}

@media screen and (max-width: 568px) {
	.popup__title {
		font-size: 12px;
		line-height: 15px;
	}
}

.popup__input_error {
	display: block;
	padding-top: 4px;
	height: 24px;
	color: #ff0000;
	font-size: 12px;
	line-height: 100%;
}
